@()

<!-- INTRODUCTION -->
<section id="introduction" class="part solid-background">
    <div class="border-bottom"></div>
    <div class="content">
        <div class="section_title">
            <h2>@Messages("introduction")</h2>
            <div class="title_border"></div>
        </div>

        <div class="section-intro">
            <p>
                J'aide votre <strong>startup</strong> à se lancer, vous aide à faire les meilleurs choix technologiques, afin que vous atteignez votre chiffre d'affaire idéal le plus vite possible et dans les meilleures conditions.
            </p>
        </div>

        <div id="experiences">
            <div id="first-experience">
                <div class="special-content with-picture wow fadeInDown">
                    <div class="round-picture">
                        <img src="@routes.Assets.at("images/superman.jpg")" />
                    </div>
                    <div class="title">
                        <span>Freelance</span> - depuis mai 2014
                    </div>
                    <p>
                        Grâce aux compétences acquises lors de mes différentes expériences professionnelles, j'aide les <strong>startups</strong> à faire les bons choix techniques, à ne pas commettre d'erreurs, afin que leur lancement se déroule dans de bonnes conditions, et que les objectifs soient rapidement atteints.
                    </p>
                </div>
            </div>

            <div class="one_half">
                <div class="special-content with-picture wow fadeInLeft">
                    <div class="round-picture">
                        <img src="@routes.Assets.at("images/talium.jpg")" />
                    </div>
                    <div class="title">
                        <span>Talium</span> - mars 2013 à mai 2014
                    </div>
                    <p>
                        Durant cette année chez <strong>Talium</strong>, j'ai pu travailler sur divers gros projets dans les technologies <strong>Java</strong> et <strong>Java EE</strong>. Tout s'étant très bien déroulé, nous continuons aujourd'hui encore à collaborer ensemble.
                    </p>
                </div>
            </div>

            <div class="one_half_last">
                <div class="special-content with-picture wow fadeInRight">
                    <div class="round-picture">
                        <img src="@routes.Assets.at("images/novaeconseil.jpg")" />
                    </div>
                    <div class="title">
                        <span>Novae Conseil</span> - janvier 2011 à mars 2013
                    </div>
                    <p>
                        Un stage ainsi qu'un contrat de professionnalisation chez <strong>Novae Conseil</strong> m'ont permis d'accroitre grandement mes compétences en <strong>Java</strong> et <strong>Java EE</strong>, tout en me permettant de travailler sur de gros projets.
                    </p>
                </div>
            </div>

            <div class="one_half">
                <div class="special-content with-picture wow fadeInLeft">
                    <div class="round-picture">
                        <img src="@routes.Assets.at("images/supinfo.jpg")" />
                    </div>
                    <div class="title">
                        <span>Supinfo</span> - 2008 à 2013
                    </div>
                    <p>
                        Diplômé de la cinquième année de l'école <strong>Supinfo</strong>, j'ai également pu y former des élèves durant quatre années aux technologies <strong>Java</strong>, <strong>Java EE</strong>, et <strong>Android</strong>, ce qui m'a permis de me spécialiser dans ces domaines.
                    </p>
                </div>
            </div>

            <div class="one_half_last">
                <div class="special-content with-picture wow fadeInRight">
                    <div class="round-picture">
                        <img src="@routes.Assets.at("images/clavier.jpg")" />
                    </div>
                    <div class="title">
                        <span>... et des stages</span> - étés 2009 et 2010
                    </div>
                    <p>
                        C'est durant ces stages chez <strong>Connecti SARL</strong> et <strong>MACH4 Pharma System</strong> que j'ai pu découvrir le monde de l'entreprise.
                    </p>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
    </div>
</section>