@()

<!-- INTRODUCTION -->
<section id="introduction" class="part solid-background">
    <div class="border-bottom"></div>
    <div class="content">
        <div class="section_title">
            <h2>@Messages("introduction")</h2>
            <div class="title_border"></div>
        </div>

        <div class="section-intro">
            <p>
                Fort de mes différentes expériences professionnelles, je mets en pratique les connaissances que j'ai acquises afin de vous aider à mener à bien vos projets les plus fous.
            </p>
        </div>

        <div id="experiences">
            <div id="first-experience">
                <div class="special-content with-picture wow fadeInDown">
                    <div class="round-picture">
                        <img src="@routes.Assets.at("images/avatar-jamie-chaussure-01.jpg")" />
                    </div>
                    <div class="title">
                        <span>Freelance</span> - depuis mai 2014
                    </div>
                    <p>
                        "Morbi sodales risus et magna sollicitudin pulvinar. Ut ligula nisl, lobortis sit amet imperdiet sed,
                        malesuada ac sem. Nam non lorem purus. Vivamus mollis lobortis magna, ac rutrum elit pharetra ac.
                        Duis justo lorem."
                    </p>
                </div>
            </div>

            <div class="one_half">
                <div class="special-content with-picture wow fadeInLeft">
                    <div class="round-picture">
                        <img src="@routes.Assets.at("images/avatar-jamie-chaussure-01.jpg")" />
                    </div>
                    <div class="title">
                        <span>Talium</span> - mars 2013 à mai 2014
                    </div>
                    <p>
                        "Morbi sodales risus et magna sollicitudin pulvinar. Ut ligula nisl, lobortis sit amet imperdiet sed,
                        malesuada ac sem. Nam non lorem purus. Vivamus mollis lobortis magna, ac rutrum elit pharetra ac.
                        Duis justo lorem."
                    </p>
                </div>
            </div>

            <div class="one_half_last">
                <div class="special-content with-picture wow fadeInRight">
                    <div class="round-picture">
                        <img src="@routes.Assets.at("images/avatar-jamie-chaussure-01.jpg")" />
                    </div>
                    <div class="title">
                        <span>Novae Conseil</span> - janvier 2011 à mars 2013
                    </div>
                    <p>
                        "Morbi sodales risus et magna sollicitudin pulvinar. Ut ligula nisl, lobortis sit amet imperdiet sed,
                        malesuada ac sem. Nam non lorem purus. Vivamus mollis lobortis magna, ac rutrum elit pharetra ac.
                        Duis justo lorem."
                    </p>
                </div>
            </div>

            <div class="one_half">
                <div class="special-content with-picture wow fadeInLeft">
                    <div class="round-picture">
                        <img src="@routes.Assets.at("images/avatar-jamie-chaussure-01.jpg")" />
                    </div>
                    <div class="title">
                        <span>Supinfo</span> - 2008 à 2013
                    </div>
                    <p>
                        "Morbi sodales risus et magna sollicitudin pulvinar. Ut ligula nisl, lobortis sit amet imperdiet sed,
                        malesuada ac sem. Nam non lorem purus. Vivamus mollis lobortis magna, ac rutrum elit pharetra ac.
                        Duis justo lorem."
                    </p>
                </div>
            </div>

            <div class="one_half_last">
                <div class="special-content with-picture wow fadeInRight">
                    <div class="round-picture">
                        <img src="@routes.Assets.at("images/avatar-jamie-chaussure-01.jpg")" />
                    </div>
                    <div class="title">
                        <span>... et des stages</span> - étés 2009 et 2010
                    </div>
                    <p>
                        C'est durant ces stages chez <strong>Connecti SARL</strong> et <strong>MACH4 Pharma System</strong> que j'ai pu découvrir le monde de l'entreprise.
                    </p>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
    </div>
</section>