@()

<section id="technologies" class="part">
    <div class="content">
        <div class="section_title">
            <h2>@Messages("technologies")</h2>
            <div class="title_border"></div>
        </div>
        
        <div class="section-intro">
            <p>
                J'utilise différentes technologies, taillées pour répondre au mieux à vos besoins
            </p>
        </div>
        
        <div class="technologies">
            <div class="technology">
                <div class="icon wow fadeInLeft">
                    <i class="tech-scala"></i>
                    <h3 class="title">Scala</h3>
                </div>
                <div class="description wow fadeInRight">
                    Grâce à ce language puissant et moderne, et au framework <strong>Play Framework</strong>, je mets en place vos applications webs et métiers, en alliant performance et solidité.
                </div>
                <div class="clear"></div>
            </div>
    
            <div class="technology">
                <div class="icon wow fadeInLeft">
                    <i class="tech-java"></i>
                    <h3 class="title">Java</h3>
                </div>
                <div class="description wow fadeInRight">
                    Des années d'expériences professionnelles et de formations dispensées dans cette technologie me permettent d'être votre expert dans ce domaine.
                </div>
                <div class="clear"></div>
            </div>
    
            <div class="technology">
                <div class="icon wow fadeInLeft">
                    <i class="tech-android"></i>
                    <h3 class="title">Android</h3>
                </div>
                <div class="description wow fadeInRight">
                    Grâce au langage Java, je rend vos applications compatibles avec les smartphones et tablettes Android, et donne vie à vos idées les plus folles.
                </div>
                <div class="clear"></div>
            </div>
    
            <div class="technology">
                <div class="icon wow fadeInLeft">
                    <i class="tech-web"></i>
                    <h3 class="title">Web</h3>
                </div>
                <div class="description wow fadeInRight">
                    Je suis aussi un développeur <em>fullstack</em>, c'est-à-dire que je crée votre site web de A à Z, des pages webs, à la programmation côté serveur. Parce que l'intégration web, c'est aussi mon dada.
                </div>
                <div class="clear"></div>
            </div>
        </div>    
    </div>
</section> 