@()

<section id="works" class="part solid-background">
    <div class="border-bottom"></div>
    <div class="content">
        <div class="section_title">
            <h2>@Messages("works.mine")</h2>
            <div class="title_border"></div>
        </div>

        <div id="works-controls"></div>

        <div id="works-slider">
            <ul class="work-slides">

                <li>
                    <div class="work">
                        <div class="work-title">
                            <div class="work-icon round-picture">
                                <img src="@routes.Assets.at("images/winerepublik.jpg")">
                            </div>
                            <div class="title">
                                Wine Republik
                                <a href="http://www.winerepublik.com/">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="work-content">
                            J'ai réalisé pour cette startup le <em>backoffice</em> de son site web, c'est-à-dire son interface d'administration, ainsi qu'une partie du site web accessible par ses clients.
                        </div>

                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="work">
                        <div class="work-title">
                            <div class="work-icon round-picture">
                                <img src="@routes.Assets.at("images/arte.jpg")">
                            </div>
                            <div class="title">
                                arte
                                <a href="http://presse.arte.tv/">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="work-content">
                            J'aide actuellement la célèbre chaîne de télévision franco-allemande arte à améliorer son site web Arte Presse, à destination de la presse allemande, afin de le rendre plus performant, plus ergonomique, et donc plus attractif pour ses utilisateurs.
                        </div>

                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="work">
                        <div class="work-title">
                            <div class="work-icon round-picture">
                                <img src="@routes.Assets.at("images/supinfo.jpg")">
                            </div>
                            <div class="title">
                                Supinfo
                                <a href="http://www.supinfo.com/">
                                    <i class="fa fa-external-link"></i>
                                </a>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="work-content">
                            En plus de la formation que j'ai suivie durant cinq ans à Supinfo, j'ai eu l'occasion durant 4 années de former d'autres étudiants aux technologies Java SE, Java EE, et Android.
                        </div>

                        <div class="clear"></div>
                    </div>
                </li>

            </ul>
            <div class="clear"></div>
        </div>
            <!-- End: works slider -->

        <div class="clear"></div>
    </div>
</section>