
$font-main: 'Open-Sans';
$font-title: 'Montserrat';
$font-second: 'Lobster';

$color-main: #48cfad;
$color-main-darker: #36967e;
$color-menu-bg: rgba(72, 207, 173, 0.95);

$content-width: 1080px;
$titles-border-width: 2px;

$home-contact-btn-height: 45px;
$home-separator-circle-size: 20px;
$home-separator-width: 300px;
$home-separator-margin: 30px;
$home-title-font-size: 8em;
$home-subtitle-font-size: 5em;